{% extends 'base.html' %} 
{% block title %}Reset Password{% endblock %}
{% block body %}

<div style="min-height: 83.5vh;" class="flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
    <h1 class="text-2xl font-bold text-teal-600 text-center mb-6">Reset Password</h1>
    <p class="text-gray-600 text-center mb-6">
      Please enter your new password below to reset your account password.
    </p>
    <form method="post" class="space-y-4">
      {% csrf_token %}
      <div>
        <label for="password1" class="block text-sm font-medium text-gray-700">New Password</label>
        <input type="password" name="password1" id="password1" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div>
        <label for="password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
        <input type="password" name="password2" id="password2" required
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
      </div>
      <div>
        <button type="submit"
          class="w-full bg-teal-600 text-white py-2 px-4 rounded-md hover:bg-teal-800 transition">
          Reset Password
        </button>
      </div>
    </form>
    <div class="mt-6 text-center">
      <a href="{% url 'accounts:custom_login' %}" class="">
        <span class="text-yellow-600 hover:text-yellow-800">Back to Login</span>
      </a>
    </div>
  </div>
</div>

{% endblock %}